﻿@model IEnumerable<Category> 

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> 
            <i class="fa-solid fa-plus"></i>&nbsp; Create new Category
            </a>
        </div>
    </div>
    
    <br/> <br/>
    
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td style="width: 50%">@cat.Name</td>
                        <td style="width: 30%">@Convert.ToString(cat.DisplayOrder)</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-route-Id="@Convert.ToString(cat.Id)" asp-action="Edit" class="btn btn-primary"> 
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-controller="Category" asp-route-Id="@Convert.ToString(cat.Id)" asp-action="Delete" class="btn btn-danger"> 
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>