﻿@model IEnumerable<Product> 

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary"> 
                <i class="fa-solid fa-plus"></i>&nbsp; Create new Product
            </a>
        </div>
    </div>
    
    <br/> <br/>
    
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td style="width: 50%">@product.Name</td>
                    <td style="width: 30%">@Convert.ToString(product.Price)</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-route-Id="@Convert.ToString(product.Id)" asp-action="Upsert" class="btn btn-primary"> 
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a asp-route-Id="@Convert.ToString(product.Id)" asp-action="Delete" class="btn btn-danger"> 
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                                
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>